<!-- HTML_HELPER String css = TO_STRING(
html,
body {
    height: 100%;
    margin: 0;
}
body {
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #009a5b, #AAA);

    font-size: 1.5rem;
}
h1 {
    font-size: 4rem;
}
button {
    background-color: #193B6A;
    border: none;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
    border-radius: .5rem;
}
.button2 {
    background-color: #77878A;
}
.biglink {
    font-size: 2rem;
}

<!-- );
